.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $dark-blue;
    color: $white;
    width: 100%;
    height: 100px;
    margin-top: 4rem;
    position: relative;
    bottom: 0;

    .copyright {
        font-size: 20px;
    }
}