.path-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;

    li {
        a {
            font-weight: 500;
            color: $dark-grey;
            text-decoration: none;
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            transition: 0.25s;

            &:hover {
                background: $light-grey2;
            }
        }

        &::before {
            content: "/";
            color: $dark-grey;
            margin: 0 5px;
        }

        &:first-child::before {
            content: none;
        }

        &:last-child {
            a {
                color: $black;
            }
        }
    }

    &.rewriting {
        li {
            &:last-child {
                a {
                    color: $turquoise;
                }
            }
        }
    }

    &.logic {
        li {
            &:last-child {
                a {
                    color: $dark-blue;
                }
            }
        }
    }

    &.lambda-calculus {
        li {
            &:last-child {
                a {
                    color: $blue;
                }
            }
        }
    }
}

@media(max-width: 850px) {
    .path-container {
        flex-direction: column;
    }
}