.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;

    h2 {
        font-weight: 500;
    }


    p {
        border-left: 5px solid $black;
        padding-left: 5px;
    }
}