.splash-page-navigation-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;

    .main {
        padding-top: 2rem;
        height: 100%;
        gap: 2rem;
        position: unset;
        height: auto;

    }

    .title-container {
        background: $grey;
        color: $dark-blue;

        h1 {
            font-weight: 600;
        }
    }

    .fscd-conference-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #363C4D;
        width: 100%;
        height: 200px;


        .fscd-background {
            width: 60%;
            height: 100%;
            background: url("../../assets/img/wordcloud-7.png");
            background-position: center;
            background-size: cover;
            margin: 0;
        }
    }

    .first-container {
        display: flex;
        width: 100%;
        gap: 2rem;
    }

    .second-container {
        background: $white2;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: left;
        justify-content: center;

        a {
            padding: 5px;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: 0.25s;
            text-decoration: underline;

            &:hover {
                color: $blue;
                background: $light-grey2;
            }
        }
    }
}

@media(max-width: 1150px) {
    .splash-page-navigation-container {
        .fscd-conference-banner {
            .fscd-background {
                width: 80%;
            }
        }

        .first-container {
            flex-direction: column;
        }

        .second-container {
            flex-direction: column;

            a {
                font-size: 17px;
                text-align: center;
                padding: 10px;
            }
        }

        a {
            font-size: 25px;
        }
    }
}